---
import { SEO } from "astro-seo";
import Nav from "../components/nav.astro";

let props = Astro.props;
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <SEO {...props} />
  </head>
  <body class="bg-gray-950 text-gray-100 h-screen">
    <Nav />
    <main>
      <slot />
    </main>
  </body>
</html>
